<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Navbar Start -->
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span class="text-primary">Maksim Baulin</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#qualification" class="nav-item nav-link">Quality</a>
                <a href="#skill" class="nav-item nav-link">Skill</a>
            </div>
            @*<a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>*@
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
                    <img class="img-fluid w-100 rounded-circle shadow-sm" src="img/profile.jpg" alt="">
                </div>
                <div class="col-lg-7 text-center text-lg-left">
                    <h3 class="text-white font-weight-normal mb-3">I'm</h3>
                    <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">Maksim Baulin</h1>
                    <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
                    <div class="typed-text d-none">Software Developer, C#, .NET, React, HTML/CSS, SQL, Unity</div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="/MaksimBaulinCvNetDeveloper.pdf" class="btn btn-outline-light mr-5">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
                <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid rounded w-100" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="mb-4">Back End developer .NET/C#</h3>
                    <p>
                        I am a web developer with over 5 years experience in web application development. 
                        I have excellent knowledge of C# and .NET platform. 
                        I have experience in studying the community, managing projects and developing processes. 
                        I am sure that my skills and experience will allow me to become an important player in your development team.
                    </p>
                    <div class="row mb-3">
                        <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Maksim Baulin</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Age: <span class="text-secondary">30 y.o.</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Bachelor</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">5+ Years</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">baulin.maksim.1992@gmail.com</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Remote: <span class="text-secondary">Available</span></h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Qualification Start -->
    <div class="container-fluid py-5" id="qualification">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
                <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="mb-4">My Education</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Bachelor</h5>
                            <p class="mb-2"><strong>Kuzbass State Technical University</strong> | <small>2011 - 2015</small></p>
                            <p>
                                Bachelor of
                                Electrical and electronics design.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-4">My Expericence</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Full stack developer C#/.NET</h5>
                            <p class="mb-2"><strong>LTD Sports League, Moscow, Russia</strong> | <small>MAY 2021 - JUN 2023</small></p>
                            <p>
                                <ul>
                                    <li>
                                        Worked as a .Net Developer as part of the team in designing and developing the web
                                        applications using Visual Studio 2022 .Net 5, C#.NET, ASP.NET MVC with Entity Framework Core,
                                        MS SQL Server 2018 and LINQ, Redis, React.js, Javascript and TypeScript, Blazor components.
                                        HTTP, Rest API, Json.
                                    </li>
                                    <li>
                                        Followed Agile Methodology which involves daily scrums meetings and Sprint meetings
                                        (planning, Review, Retro) to meet deadlines and expectations.
                                    </li>
                                    <li>
                                        Design develop and unit test the application and assist in maintaining program libraries, user
                                        manuals and technical documentation using various programming languages as per the needs of
                                        the project which include ASP.NET, C#, J Query, Visual Studio 2022, ASP. NET Core MVC, Razor
                                        pages, Microsoft SQL 2018, React.js, Entity Framework Core, LINQ, Blazor components, HTML,
                                        CSS, Javascript, TypeScript, Yup, Formik.
                                    </li>
                                    <li>
                                        Experienced with common tools like GitBash, GitHub, Source Tree, Visual Studio 2019, Visual
                                        Studio 2022, VS Code, Webpack, Node.js.
                                    </li>
                                    <li>
                                        Experience in setting up webpack configurations, managing dependencies, and optimizing build
                                        processes. Hands on experience in creating single page applications using React 18.
                                    </li>
                                    <li>
                                        Developed entire frontend and backend modules using ASP.Net MVC by Using the Razor View
                                        Engine, C# and Javascript, HTML/CSS, Bootstrap, React, Yup, Formik, Rest API, Json.
                                    </li>
                                    <li>
                                        Extensively worked in Entity Data Model for implementing Business logic and Data Layer using
                                        Entity Framework Core.
                                    </li>
                                    <li>Written NUnits and tested it with Test Driven Development (TDD).</li>
                                    <li>Designed and Developed dynamic webpages using React 18, Javascript, Typescript.</li>
                                    <li>Implemented React Data providers to maintain each view data.</li>
                                    <li>Experience with Agile Methodology and Test Driven Development.</li>
                                    <li>Fixing production defects and regress test the system. </li>
                                    <li>
                                        Creating, modifying SQL queries, handle the data integrity for data transaction in SQL Server
                                        2018.
                                    </li>
                                    <li class="mb-3">
                                        Environment: C# 10, .NET 6, ASP.NET Core MVC, Entity Framework Core, Ms SQL Server, LINQ, Redis,
                                        Visual Studio Code, Visual Studio 2017/2022, JavaScript, TypeScript, Razor pages, Blazor Components,
                                        React18, Bootstrap 5, HTML, CSS, AJAX, JQuery, AZURE Database, Azure server, Agile, GIT, IIS, Webpack.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Full stack developer .NET/C#</h5>
                            <p class="mb-2"><strong>LTD EnergoTech, Moscow, Russia</strong> | <small>JAN 2019 - MAY 2021</small></p>
                            <ul>
                                <li class="mb-3">
                                    Designed and developed various abstract classes, interfaces, classes to construct the business
                                    logic using C# and .Net 5.
                                </li>
                                <li class="mb-3">
                                    Involved in developing web roles with rich UI using ASP.NET MVC 5, HTML/CSS, AJAX, jQuery,
                                    Json, Razor pages.
                                </li>
                                <li class="mb-3">
                                    Designed and developed web forms using ASP.Net by using C#, .Net 5.
                                </li>
                                <li class="mb-3">
                                    Used Entity Framework Core for working with Relational data and LINQ for updating the data.
                                </li>
                                <li class="mb-3">
                                    Worked with the application using LINQ to Entities in an ASP.NET Core through Entity
                                    Framework Core.
                                </li>
                                <li class="mb-3">
                                    Implemented LINQ for querying, sorting, filtering the complex objects.
                                </li>
                                <li class="mb-3">
                                    Used TypeScript on client side for creating View Models.
                                </li>
                                <li class="mb-3">
                                    Developing software in Scrum environment using agile methodologies.
                                </li>
                                <li class="mb-3">
                                    Involved in Web UI Design and Development using ASP.NET Core, AJAX, Custom Controllers and
                                    Web View using C# as code behind.
                                </li>
                                <li class="mb-3">
                                    Developed Test-Driven Development (TDD) strategy guiding use of the unit testing framework.
                                </li>
                                <li class="mb-3">
                                    Experienced in decommissioning the legacy systems.
                                </li>
                                <li class="mb-3">
                                    Created various RESTFUL services using WEB API to return serialized JSON data which are later
                                    consumed through React JS.
                                </li>
                                <li class="mb-3">
                                    Maintained build versions and code versions using GIT's Version Control Developed web services
                                    using ASP.Net Core and hosted them in IIS.
                                </li>
                                <li class="mb-3">
                                    Designed dynamic web pages using ASP.NET Core MVC, React, Javascript, TypeScript, JSon, HTML/CSS, JSON, Visual Studio
                                    2018.
                                </li>
                                <li class="mb-3">
                                    Environment: C# 10, .NET 5, ASP.NET Core MVC, Entity Framework Core, Ms SQL Server, LINQ, Visual
                                    Studio 2017/2022, JavaScript, Razor pages, React, Bootstrap 5, HTML, CSS, AJAX, JQuery, Agile, GIT, IIS, Webpack, Node.js, Formik, Yup.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Full stack developer .NET/C#</h5>
                            <p class="mb-2"><strong>LTD BVB Tech, Moscow, Russia</strong> | <small>FEB 2017 - JAN 2019</small></p>
                            <p>
                                <ul>
                                    <li class="mb-3">
                                        Designed and developed various abstract classes, interfaces, classes to construct the business
                                        logic using C# and .Net 5.
                                    </li>
                                    <li class="mb-3">
                                        Involved in developing web roles with rich UI using ASP.NET MVC 5, HTML/CSS, AJAX, jQuery,
                                        Json, Razor pages.
                                    </li>
                                    <li class="mb-3">
                                        Designed and developed web applications using ASP.Net by using C#, .Net 5.
                                    </li>
                                    <li class="mb-3">
                                        Used Entity Framework Core for working with Relational data and LINQ for updating the data.
                                    </li>
                                    <li class="mb-3">
                                        Maintained build versions and code versions using GIT's Version Control Developed web services
                                        using ASP.Net.
                                    </li>
                                    <li class="mb-3">
                                        Designed dynamic web pages using ASP.NET MVC, Razor pages, HTML/CSS, JSON, and Visual Studio 2018.
                                    </li>
                                    <li class="mb-3">
                                        Environment: C# 8, .NET 5, ASP.NET MVC, Entity Framework, Ms SQL Server, LINQ, Visual
                                        Studio 2017, JavaScript, Razor pages, Bootstrap 5, HTML, CSS, AJAX, JQuery, Agile, GIT.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualification End -->
    <!-- Skill Start -->
    <div class="container-fluid py-5" id="skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
            </div>
            <div>
                <ul>
                    <li class="mb-3">
                        Worked as a .Net Developer as part of the team in designing and developing the web
                        applications using Visual Studio 2022 .Net 5, C#.NET, ASP.NET MVC with Entity Framework Core,
                        MS SQL Server 2018 and LINQ, Redis, React.js, Javascript and TypeScript, Blazor components.
                        HTTP, Rest API, Json.
                    </li>
                    <li class="mb-3">
                        Followed Agile Methodology which involves daily scrums meetings and Sprint meetings
                        (planning, Review, Retro) to meet deadlines and expectations.
                    </li>
                    <li class="mb-3">
                        Design develop and unit test the application and assist in maintaining program libraries, user
                        manuals and technical documentation using various programming languages as per the needs of
                        the project which include ASP.NET, C#, J Query, Visual Studio 2022, ASP. NET Core MVC, Razor
                        pages, Microsoft SQL 2018, React.js, Entity Framework Core, LINQ, Blazor components, HTML,
                        CSS, Javascript, TypeScript, Yup, Formik.
                    </li>
                    <li class="mb-3">
                        Experienced with common tools like GitBash, GitHub, Source Tree, Visual Studio 2019, Visual
                        Studio 2022, VS Code, Webpack, Node.js
                    </li>
                    <li class="mb-3">
                        Experience in setting up webpack configurations, managing dependencies, and optimizing build
                        processes
                    </li>
                    <li class="mb-3">
                        Hands on experience in creating single page applications using React 18
                    </li>
                    <li class="mb-3">
                        Developed entire frontend and backend modules using ASP.Net MVC by Using the Razor View
                        Engine, C# and Javascript, HTML/CSS, Bootstrap, React, Yup, Formik, Rest API, Json.

                    </li>
                    <li class="mb-3">
                        Extensively worked in Entity Data Model for implementing Business logic and Data Layer using
                        Entity Framework Core
                    </li>
                    <li class="mb-3">
                        Written NUnits and tested it with Test Driven Development (TDD).
                    </li>
                    <li class="mb-3">
                        Designed and Developed dynamic webpages using React 18, Javascript, Typescript.
                    </li>
                    <li class="mb-3">
                        Implemented React Data providers to maintain each view data.
                    </li>
                    <li class="mb-3">
                        Experience with Agile Methodology and Test Driven Development.
                    </li>
                    <li class="mb-3">
                        Fixing production defects and regress test the system.
                    </li>
                    <li class="mb-3">
                        Creating, modifying SQL queries, handle the data integrity for data transaction in SQL Server
                        2018.
                    </li>
                    <li class="mb-3">
                        Designed and developed various abstract classes, interfaces, classes to construct the business
                        logic using C# and .Net 5.
                    </li>
                    <li class="mb-3">
                        Used Entity Framework Core for working with Relational data and LINQ for updating the data.
                    </li>
                    <li class="mb-3">
                        Worked with the application using LINQ to Entities in an ASP.NET Core through Entity
                        Framework Core.
                    </li>
                    <li class="mb-3">
                        Implemented LINQ for querying, sorting, filtering the complex objects.
                    </li>
                    <li class="mb-3">
                        Used TypeScript on client side for creating View Models.
                    </li>
                    <li class="mb-3">
                        . Involved in Web UI Design and Development using ASP.NET Core, AJAX, Custom Controllers and
                        Web View using C# as code behind.
                    </li>
                    <li class="mb-3">
                        Developed Test-Driven Development (TDD) strategy guiding use of the unit testing framework.
                        Experienced in decommissioning the legacy systems.
                    </li>
                    <li class="mb-3">
                        Develop Entity framework code first database.
                    </li>
                    <li class="mb-3">
                        Created various RESTFUL services using WEB API to return serialized JSON data which are later
                        consumed through React JS.
                    </li>
                    <li class="mb-3">
                        Maintained build versions and code versions using GIT's Version Control Developed web services
                        using ASP.Net Core and hosted them in IIS.
                    </li>
                    <li class="mb-3">
                        Involved in front end development using ASP.NET Core, JavaScript, ,TypeScript, React JS, jQuery,
                        HTML, Bootstrap and CSS. Designed dynamic web pages using ASP.NET Core MVC, HTML/CSS,
                        JSON, and Visual Studio 2018.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Skill End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="container text-center py-5">
            <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-light btn-social mr-2" href="https://www.facebook.com/max.baulin.92"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com/in/maksim-baulin-26a359225/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="https://www.instagram.com/baulinmaxiuliia/?igshid=YWVjMmZiZjg%3D"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="m-0">
                &copy; <a class="text-white font-weight-bold" href="#">Maksim Baulin 2023</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Scroll to Bottom -->
    <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>
</html>