@{
    Layout = "_LayoutBlog";
}

<head>
    <title>Create Post</title>
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-K4w/SaNQlW8N5e5/HdD5Svuf23/BOa8nsjJgTH7+zRbbCkUz7+ruELNhqJIL7O3ZAtM/D2YVbNW1COQ2gV0Kw==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
</head>
<body>
    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">ИМЯ ПОЛЬЗОВАТЕЛЯ</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="images/profile.png" alt="image">

                    <div class="bio mb-3">КРАТКАЯ БИОГРАФИЯ</div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">ВЫХОД</a>
                </div>
            </div>
        </nav>
    </header>

    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h1>Create Post</h1>
            </header>

            <div class="blog-post-body">
                <div class="container">
                    <form action="/blog/createpost" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" id="content" name="content" placeholder="Enter content" rows="5" required></textarea>
                        </div>
@*                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter tags separated by commas">
                        </div>*@
                        <button type="submit" class="btn btn-primary">Create Post</button>
                    </form>
                </div>
            </div>
        </div><!--//container-->
    </article>
    
    <!-- Bootstrap JS -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-MELpH6UwIF6gFvOS8cFlYcyi9aFxhQm86mNRg8jAaVZK+GK2EPiL/u5hAx/bJH7FbItxKjV5g5JnwM5Z7qKtPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
</body>